.updateheader
{
	padding: 60px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

.indexheader, .indexbody
{

    padding: 60px;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
}


.indexfooter
{
    padding: 60px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

