.updateheader, .indexheader, .indexbody, .indexfooter
{
	padding: 50px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

@media screen and (max-width: 642px)
{
	.updateheader, .indexheader, .indexbody, .indexfooter
	{
		padding: 25px;
		font-family:'Courier New', Courier, monospace;
		font-size: 20px;
	}
}
